<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xmlns.jcp.org/xml/ns/javaee"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
       bean-discovery-mode="all">
    <decorators>
        <class>javaee.examples.cdi.decorator.numgen.FromEightToThirteenDigitsDecorator</class>
        <class>javaee.examples.cdi.decorator.coffee.CountingCoffeeMaker</class>
    </decorators>
    <!--
    <interceptors>
        <class>javaee.examples.cdi.interceptor.tracker.TrackingInterceptor</class>
    </interceptors>
    -->
    <alternatives>
        <class>javaee.examples.cdi.alternatives.FancyGreetingAlternative</class>
    </alternatives>
    <scan>
        <exclude name="javaee.examples.cdi.exclude.filter.bean.*">
            <if-class-available name="javaee.examples.cdi.exclude.filter.bean.SimpleGreetingFilter">
            </if-class-available>
        </exclude>
        <exclude name="javaee.examples.cdi.exclude.filter.bean.*">
            <if-system-property name="verbosity" value="low" />
        </exclude>
    </scan>
</beans>
